<%= form_for [:admin, station], html: { style: "display: #{hidden ? 'none' : 'block'}" } do |f| %>
  <%= render 'common/errors', resource: station %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="actions">
    <%= f.submit t('.submit', action: station.new_record? ? t('common.create') : t('common.edit')) %>
  </div>
<% end %>
