<%= form_for(@train) do |f| %>
      <%= render 'common/errors', resource: @train %>

<% if @train.new_record? == false %>
    <div class="field">
      <%= f.label :number %><br>
      <%= f.number_field :number %>
    </div>
<% end %>

  <div class="field">
    <%= f.label :route, "Route" %>
    <%= f.collection_select :route_id, Route.all, :id, :name %>
  </div>

  <div class="actions">
    <%= f.submit "#{ @train.new_record? ? 'Create' : 'Edit' }" %>
  </div>
<% end %>
