<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>
<p>
  <strong>Current station: </strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %>
  <% else %>  
    Not specified
  <% end %>  
</p>  

<p>
  <strong>Route: </strong>
  <% if @train.route.present? %>
    <%= @train.route.name %>
  <% else %>  
    Not specified
  <% end %>  
</p>  

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
