<h1>Купить билет</h1>
<%= form_for(@ticket) do |f| %>
  <%= render 'common/errors', resource: @ticket %>

  <div class="field">
    <%= f.label :passenger_name, 'Passenger name' %>
    <%= f.text_field :passenger_name %>
  </div>

  <div class="field">
    <%= f.label :passenger_passport, 'Passport' %>
    <%= f.text_field :passenger_passport %>
  </div>
  <%= f.hidden_field :train_id %>
  <%= f.hidden_field :start_station_id %>
  <%= f.hidden_field :end_station_id %>
  <%= f.submit 'Buy ticket' %>
<% end %> 