<p>
  <strong>Economy carriage</strong>
  № <%= @carriage.number %><br>
  <strong>Top seats count:</strong>
  <%= @carriage.top_seats %><br>
  <strong>Bottom seats count:</strong>
  <%= @carriage.bottom_seats %><br>
  <strong>Side top seats count:</strong>
  <%= @carriage.side_top_seats %><br>
  <strong>Side bottom seats count:</strong>
  <%= @carriage.side_bottom_seats %>
</p>
