<%= form_for(@carriage) do |f| %>
      <%= render 'common/errors', resource: @carriage %>

  <div class="field">
    <%= f.label 'Wagon type' %><br>
    <%= f.select :type, ["EconomyCarriage","LuxCarriage", "CoupeCarriage", "SittingCarriage"]%>
  </div>

   <div class="field">
    <%= f.label :bottom_seats %><br>
    <%= f.number_field :bottom_seats %>
  </div>

   <div class="field">
    <%= f.label :top_seats %><br>
    <%= f.number_field :top_seats %>
  </div>

  <div class="field">
    <%= f.label :train_id, "Add to train" %>
    <%= f.collection_select :train_id, Train.all, :id, :number %>
  </div>

  <div class="actions">
    <%= f.submit "#{ @carriage.new_record? ? 'Create' : 'Edit' }" %>
  </div>
<% end %>
