<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @carriage.id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @carriage.type_w %>
</p>

<p>
  <strong>Train ID:</strong>
  <%= @carriage.train_id %>
</p>

<p>
  <strong>Top seats:</strong>
  <%= @carriage.top_seats %>
</p>

<p>
  <strong>Low seats:</strong>
  <%= @carriage.low_seats %>
</p>

<% if @carriage.train.nil? %>
    <p>Train is not set</p>
<% else %>
    <p>Carriage attach to train: <%= @carriage.train.number %></p>
<% end %>

<%= link_to 'Edit', edit_carriage_path(@carriage) %> |
<%= link_to 'Back', carriages_path %>