<%= form_for [:admin, ticket] do |f| %>
  <%= render 'common/errors', resource: ticket %>

  <%= f.hidden_field :train_id %>
  <%= f.hidden_field :start_station_id %>
  <%= f.hidden_field :end_station_id %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.collection_select :user_id, User.all, :id, :email %>
  </div>

  <div class="field">
    <%= f.label :passenger_name %>
    <%= f.text_field :passenger_name %>
  </div>

  <div class="field">
    <%= f.label :passenger_passport %>
    <%= f.text_field :passenger_passport %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>