<%= form_for(@route) do |f| %>
    <%= render 'common/errors', resource: @route %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>

    <div class="actions">
      <%= f.submit "#{ @route.new_record? ? 'Create' : 'Update' }" %>
    </div>
<% end %>