<% if @route.railway_stations.empty? %>
  <p>The route no stations</p>
<% else %>
  <table>
    <thead>
      <tr>
        <td weight="100px">Station name:</td>
        <td>Position</td>
      </tr>
    </thead>
    <tbody>
      <% @route.railway_stations.ordered.each do |station| %>
        <tr>
          <td><%= station.title %></td>
          <td>
            <%= form_tag update_position_railway_station_path(station), method: :patch do %>
              <%= number_field_tag :position, station.position_in(@route) %>
              <%= hidden_field_tag :route_id, @route.id %>
              <%= submit_tag "Edit" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %> 
