<%= form_for [:admin, @train] do |f| %>
      <%= render 'common/errors', resource: @train %>

<% if @train.new_record? == false %>
    <div class="field">
      <%= f.label :number %><br>
      <%= f.number_field :number %>
    </div>
<% end %>

  <div class="field">
    <%= f.label :route, "Route" %>
    <%= f.collection_select :route_id, Route.all, :id, :name %>
  </div>

  <div class="actions">
    <%= f.submit t('.submit', action: @train.new_record? ? 'Создать' : 'Изменить' ) %>
  </div>
<% end %>
