<p>
  <strong><%= t('.number') %></strong>
  <%= @train.number %>
</p>
<p>
  <strong><%= t('.current_station') %></strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %>
  <% else %>
    Not specified
  <% end %>
</p>

<p>
  <strong><%= t('.route') %></strong>
  <% if @train.route.present? %>
    <%= @train.route.name %>
  <% else %>
    Not specified
  <% end %>
</p>

<p>
  <strong><%= t('.carriages') %></strong>
  <ul>
    <% @train.carriages.each do |car| %>
      <li><%= link_to "#{t('.carriage_n')} #{car.number}", [:admin, car.becomes(Carriage)] %></li>
    <% end %>
  </ul>
 </p>

 <p>
    <%= link_to t('common.add_carriage'), new_admin_train_carriage_path(@train) %>
 </p>



<%= link_to t('common.edit'), edit_admin_train_path(@train) %> |
<%= link_to t('common.back'), admin_trains_path %>
